*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box-img-cabecera img{
    height: 180px;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}
.titulo{
    background-color: yellow;
    text-align: center;
    padding: 10px 0;
    margin-top: 80px;
}
.box-banner img{
    height: 3auto;
    width: 100%;
}
.box-slider{
    background-color: rgb(254, 255, 248);
    padding: 10px;
}
.box-articulo{
    border: 1px solid transparent;
    transition: border .5s;
    cursor: pointer;
    margin-bottom: 10px;
}
.box-articulo:hover{
    border: 1px solid grey;
    transition: border .5s
}
.overlay{
    transition: opacity .3s;
    opacity: 0;
}
.box-articulo:hover .overlay{
    transition: opacity .3s;
 opacity: 1;
}
.box-articulo img{
    width: 100%;
}
.box-articulo button{
    border-style: none;
    background-color: red;
    color: white;
    line-height: 18px;
    border-radius: 5px;
    margin: 7px;
    padding: 6px;
    text-align: center;
}
.box-articulo .contendor-boton{
    display: flex;
    justify-content: center;
}
.carousel-indicators{
    bottom: -25px
}
.carousel-indicators li{
    background-color: black;
}
.texto-articulo{
    margin-bottom: 0;
    text-align: center;
    font-size: 10px;
}
/* ESTILO OVERLAY */
.cantidad{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 5px 0;
    margin: 13px;
    border: 1px solid grey;
}
.cantidad label{
    color: black;
    padding-top: 8px;
}

.cantidad input{
text-align: center;
border: none;
-webkit-appearance: none; 
 -moz-appearance:textfield;
}
